.Header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    font-size: 25px;
    background-color: teal;
}
.Header a {
    text-decoration: none;
    padding: 0 10px;
    color: snow;
}